@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";


.neon-text {
    text-shadow: 0 0 2px #00ff66, 0 0 6px rgba(0, 255, 102, 0.6);
    color: #00ff66;
}

.neon-green {
    color: #00ff66;
    text-shadow: 0 0 3px #00ff66, 0 0 6px rgba(0, 255, 102, 0.6);
}

.neon-blue {
    color: #0A1124;
}

.neon-border {
    border-color: #00ff66;
    box-shadow: 0 0 6px rgba(0, 255, 102, 0.6);
}

.neon-border:hover {
    background-color: #00ff66;
    color: #0A1124;
    box-shadow: 0 0 10px rgba(0, 255, 102, 0.8);
}

.neon-border-only {
    border-color: #00ff66;
    box-shadow: 0 0 6px rgba(0, 255, 102, 0.6);
}

.titillium-web {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}


.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}

h1{
    font-family: "Titillium Web", sans-serif;
}

h2{
    font-family: "Titillium Web", sans-serif;
}
h3{
    font-family: "Titillium Web", sans-serif;
}